<img src="exam_result.jpeg" alt="exam_result image" width="49%"/> <img src="examB.png" alt="Lower exam grade image" width="49%"/>

In today's fast-paced and competitive educational environment, understanding the factors that influence student success is more important than ever. Just like the transport system in a bustling city like London must adapt to serve its residents, schools and educators must adapt to meet the needs of students. In this project, we will take a deep dive into a dataset containing rich details about various aspects of student life, such as hours studied, sleep patterns, attendance, and more, to uncover what truly impacts exam performance.

The dataset we'll be working with includes a wide range of factors influencing student performance. By analyzing this data, we'll be able to identify key drivers of success and provide insights that could help students, teachers, and policymakers make informed decisions. The table we'll use for this project is called `student_performance` and includes the following data:

| Column                   | Definition                                                      | Data type             |
|--------------------------|-----------------------------------------------------------------|-----------------------|
| `attendance`              | Percentage of classes attended                                  |     `float`               |
| `extracurricular_activities` | Participation in extracurricular activities                   |     `varchar` (Yes, No)    |
| `sleep_hours`             | Average number of hours of sleep per night                      |     `float`               |
| `tutoring_sessions`       | Number of tutoring sessions attended per month                  |     `integer`             |
| `teacher_quality`         | Quality of the teachers                                         |     `varchar` (Low, Medium, High) |
| `exam_score`              | Final exam score                                                |     `float`               |

You will execute SQL queries to answer three questions, as listed in the instructions.

In [20]:
-- avg_exam_score_by_study_and_extracurricular
-- Edit the query below as needed
SELECT *
FROM student_performance
LIMIT 30;

    hours_studied  attendance  ... tutoring_sessions  exam_score
0              23          84  ...                 0          67
1              19          64  ...                 2          61
2              24          98  ...                 2          74
3              29          89  ...                 1          71
4              19          92  ...                 3          70
5              19          88  ...                 3          71
6              29          84  ...                 1          67
7              25          78  ...                 1          66
8              17          94  ...                 0          69
9              23          98  ...                 0          72
10             17          80  ...                 4          68
11             17          97  ...                 2          71
12             21          83  ...                 2          70
13              9          82  ...                 2          66
14             10          78  ...                 1          65
15             17          68  ...                 2          64
16             14          60  ...                 0          60
17             22          70  ...                 1          65
18             15          80  ...                 3          67
19             12          75  ...                 3          66
20             29          78  ...                 0          69
21             19          99  ...                 1          72
22             20          74  ...                 1          66
23             11          78  ...                 1          66
24             17          65  ...                 2          63
25             21          62  ...                 0          64
26             13          91  ...                 1          65
27             22          83  ...                 0          71
28             16          90  ...                 1          66
29             18          66  ...                 2          64

[30 rows x 6 columns]

In [21]:

select hour_studied, Avg(exam_score) as avg_exam_score
from public.student_performance
where hour_studied >10
and public.student_performance.extracurricular_activities ='Yes'
group by hours_studied
ORDER BY hours_studied DESC;

Error:
select hour_studied, Avg(exam_score) as avg_exam_score
from public.student_performance
where hour_studied >10
and public.student_performance.extracurricular_activities ='Yes'
group by hours_studied
ORDER BY hours_studied DESC; - column "hour_studied" does not exist

In [22]:
SELECT
    CASE
        -- Categorizes hours studied into specific ranges: 1-5, 6-10, 11-15, and 16+ hours.
        WHEN Hours_Studied BETWEEN 1 AND 5 THEN '1-5 hours'
        WHEN Hours_Studied BETWEEN 6 AND 10 THEN '6-10 hours'
        WHEN Hours_Studied BETWEEN 11 AND 15 THEN '11-15 hours'
        ELSE '16+ hours'
    END AS hours_studied_range,
    -- Calculates the average exam score for each range of hours studied.
    AVG(Exam_Score) AS avg_exam_score
-- Specifies the source of the data.
FROM student_performance
-- Groups the data by the newly created study ranges.
GROUP BY hours_studied_range
-- Orders the result by average exam score in descending order to see which range performs best.
ORDER BY avg_exam_score DESC;

  hours_studied_range  avg_exam_score
0           16+ hours       67.923363
1         11-15 hours       65.204386
2          6-10 hours       64.225490
3           1-5 hours       62.627119

In [23]:
SELECT 
    Attendance, 
    Hours_Studied, 
    Sleep_Hours, 
    Tutoring_Sessions, 
    -- Assigns a rank to each student based on their exam score, with the highest score ranked first.
    DENSE_RANK() OVER (ORDER BY Exam_Score DESC) AS exam_rank
-- Specifies the source of the data.
FROM student_performance
-- Orders the result by exam rank in ascending order so the highest-ranked students come first.
ORDER BY exam_rank ASC
-- Limits the result to the top 30 students.
LIMIT 30;

    attendance  hours_studied  sleep_hours  tutoring_sessions  exam_rank
0           98             27            6                  5          1
1           89             18            4                  3          2
2           90             14            8                  4          3
3           83             23            4                  1          3
4           96             28            4                  1          4
5           90             28            9                  0          4
6           83             16            8                  2          4
7           83             15            7                  2          5
8           74             21            6                  1          5
9           99             25            7                  0          5
10          93             18            7                  2          6
11          90             18            6                  1          7
12          67             21            6                  1          7
13          96             24            6                  2          8
14          98             25            7                  1          8
15          76             29            8                  2          8
16          90             19            5                  0          8
17          69             26            7                  0          9
18          73             25            7                  2          9
19          88              1            4                  3         10
20          69             31            7                  2         10
21          70             21            9                  1         11
22          77             14            6                  1         12
23          92             21            9                  2         12
24          70             19            7                  0         12
25          86             18            8                  2         13
26          98             30            9                  1         13
27          62             11            7                  3         13
28          71             11            8                  1         14
29          69              7            8                  1         14